<!-- Search bar -->
<form {{bind-attr data-search-list=searchList data-search-in=searchIn}} class="searchbar">
  <div class="searchbar-input">
    {{input type='search' value=query placeholder=placeholder}}<a href="#" class="searchbar-clear"></a>
  </div><a href="#" class="searchbar-cancel">{{cancelText}}</a>
</form>
<!-- Search bar overlay -->
<div class="searchbar-overlay"></div>
{{yield}}
