{{#if framework7.options.material}}
  <span class="preloader-inner">
    <span class="preloader-inner-gap"></span>
    <span class="preloader-inner-left">
      <span class="preloader-inner-half-circle"></span>
    </span>
    <span class="preloader-inner-right">
      <span class="preloader-inner-half-circle"></span>
    </span>
  </span>
{{/if}}
