<div class="panel-overlay"></div>
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <p>Left Panel content here</p>
  </div>
</div>

<div class="views">
  <div class="pages">
    <div class="page toolbar-fixed navbar-fixed">
      {{#f7-navbar}}
        <div class="left">
          <a class="link icon-only" href="#" {{action 'panelLeft'}}>
            <i class="icon icon-bars"></i>
          </a>
        </div>
        <div class="center wool-logo">
          Example
        </div>
        <div class="right"></div>
      {{/f7-navbar}}
      {{#f7-pull-to-refresh action="refresh"}}
        <div class="list-block">
          <ul>
            {{#each}}
              {{#f7-swipeout}}
                <div class="swipeout-content">
                  <a href="#" class="item-link item-content" {{action 'itemClicked' this}}>
                    <div class="item-inner">
                      <div class="item-title">{{this}}</div>
                    </div>
                  </a>
                </div>
                <!-- Swipeout actions left -->
                <div class="swipeout-actions-left">
                  <!-- Swipeout actions links/buttons -->
                  <a href="#">Action 1</a>
                  <a href="#">Action 2</a>
                </div>
                <!-- Swipeout actions right -->
                <div class="swipeout-actions-right">
                  <!-- Swipeout actions links/buttons -->
                  <a href="#">Action 1</a>
                  <a href="#" class="swipeout-delete swipeout-overswipe" {{action 'delete' this on='click'}}>Delete</a>
                </div>
              {{/f7-swipeout}}
            {{/each}}
          </ul>
        </div>
      {{/f7-pull-to-refresh}}
    </div>
  </div>
</div>

